  

  form div {
    margin: 10px 0
  }

  .customer-information {
    margin-top: 1.5rem;
    max-width: 100%;
  }
  
  .customer-information p {
    color: red;
    font-size: 1rem !important;
    font-weight: 500;
  }
  
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .customer-information label {
    font-size: 1.125rem;
    font-weight: 600;
    color: #242424;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #242424;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
  }
  
  input[type="submit"]:hover {
    background-color: #ffe44e;
    color: #000;
    font-weight: 700;
    transition: 0.1ss linear;
  }
  
  input:disabled {
    opacity: 0.4;
  }
  
  input[type="button"]:hover {
    transition: 0.3s all;
  }
  
  input[type="button"],
  input[type="submit"] {
    -webkit-appearance: none;
  }
  
  .App {
    max-width: 600px;
    margin: 0 auto;
  }
  
  pre {
    color: white;
  }
  
  hr {
    margin-top: 30px;
  }
  
  .success-noti {
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    animation-name: sliderAppear;
    animation-duration: 0.25s;
    animation-timing-function: ease-in;
  }

  .success-noti-layer {
    z-index: 1;
    position: absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .success-noti-center {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 250px;
    background-color:  rgba(0, 0, 0, 0.9);
    z-index: 2;
    border-radius: 10px;
  }

  .success-noti-center .btnClose-1 {
    color: white;
    opacity: 0.8;
  }
  
  .success-noti-center p {
    color: #ffdc73;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px 20px;
    text-align: center;
  }

  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
  }
    
  .checkmark{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
  }

  .checkmark__check{
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
  }
  
  @keyframes stroke {
    100%{stroke-dashoffset: 0}
  }
  @keyframes scale{
    0%, 100%{transform: none}
    50%{transform: scale3d(1.1, 1.1, 1)}
  }
  @keyframes fill{
    100%{box-shadow: inset 0px 0px 0px 30px #7ac142}
  }