.hero-container {
    background: url(../../public/images/singing.jpg) center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.6);
    object-fit: contain;
}

.hero-container > h1 {
    color: #fff;
    font-size: 4rem;
    margin-top: 100px;
    text-align: center;
  }
  
  .hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  
  .hero-btns {
    margin: 32px 5px 0 5px;
  }
  
  .hero-btns .btn {
    margin: 6px;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }

  .btn-container {
    display: flex;
    justify-content: center;
  }
  
  .cards__location__container {
    max-height: 100%;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border-radius: 10px;
    padding: 50px;
    animation-name: sliderAppear;
    animation-duration: 0.25s;
    animation-timing-function: ease-in;

  }

  .location__container-layer {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    animation-name: sliderAppear;
    animation-duration: 0.25s;
    animation-timing-function: ease-in;
  }

  .location__container {
    z-index: 998;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
      text-align: center;
    }

    .btn-container {
      display: flex;
      flex-direction: column;
    }

    .hero-btns {
      margin: 10px 30px;
    }
    
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: -100px;
      text-align: center;
    }
  
    .hero-container > p {
      font-size: 30px;
      text-align: center;
      margin: 20px 20px 20px 20px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }

    .btn-container {
      display: flex;
      flex-direction: column;
    }

    .hero-btns {
      margin: 10px 30px;
    }
  }


.cards__item__list {
    display: flex;
    margin: 0.5rem 0.5rem;
    border-radius: 10px;
    width: 50vw;
    min-width: 500px;
    max-width: 1400px;
    justify-content: space-between;

}

.cards__item__list__info {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.cards__item__list__text {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    text-align: center;
}

.request__description {
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    text-align: center;
    max-width: 50%;
    margin-bottom: 15px;
}


.cards__item__list__distance {
    display: flex;
    fill: #fff;
}

.cards__item__list__distance svg {
  margin-left: 15px;
}

.cards__item__list__action {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.cards__item__list__action a {
  padding: 5px;
}

i {
  color: white;
  opacity: 0.5;
}

.btnClose-1 {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 2rem;
}

.btnClose-1:hover {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

@keyframes sliderAppear {
  from {opacity: 0;}
  to {opacity: 1;}
}
